body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
.course-item {
    margin-bottom: 15px;
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.progress-fill {
    height: 15px;
    background-color: #4caf50;
    text-align: right;
    color: white;
    padding-right: 5px;
    font-size: 12px;
}
